---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Display my logo before each instance of the site header
.site-title::before {
	content: url("/assets/favicon.png");
	display: inline-block;
	position: relative;
	width: 37;
	top: 5px;
    right: 5px;
}
// Display "open in new tab" after links with the appropriate target.
a[target="_blank"].icon::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

.row {
    display: flex;
}
.row.gap {
    gap: 20px;
    margin-bottom: 10px;
}
.row.gap.wrap {
    flex-wrap: wrap;
}
  
.column {
    flex: 50%;
}

.bordered {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: white;

    hr.strong_divider {
        margin-bottom:10px;
        height:2px;
        background-color:black;
    }
    hr.medium_divider {
            width:85%;
            margin-bottom:10px;
            height:1px;
            background-color:darkcyan;
        }
}
.bordered h4 {
    margin-left: 17px;
    margin-top: 12px;
}

.ex_e {
    margin-top: 17px;
    margin-bottom: 24px;
    margin-left: 17px;
    margin-right: 15px;

    .ex_name {
        font-weight: bold;
        margin-left: 0px;
    }
    .ex_name.large {
        font-size: 20px;
    }
    a.ex_name:hover {
        cursor: pointer;
        text-decoration-line: none;
    }

    .ex_title {
        color: rgb(0, 118, 118);
        font-weight: bold;
        font-style: italic;
    }
    .ex_subtitle, .ex_date{
        margin-left: 10px;
        font-size: 10px;
    }
    .ex_description{
        color: rgb(0, 72, 72);
        margin-left: 10px;
        font-size: 14px;
    }
}
.ex_e.wrap{
    display: flex;
    flex-wrap: wrap;
}
.ex_e.wrap>.ex_name{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    color: rgb(8, 128, 165);
}

.ex_e.tools>.ex_name{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(8, 128, 165);
}